body{
  background-color: #222;
  color: rgb(0, 161, 241);
}

header{
  font-size: 34px;
  transition: opacity .3s;
  transform: scale(1);
  animation: fadeIn .2s;
}

@keyframes fadeIn{
  from{
    filter: blur(10)
  }
  to{
    filter: blur(0);
  }
}